    {{>header}}

    <div class="main-content">
        <p>This website was created by Bruno Verano. It uses data from Weatherbit.</p>
        <img src="/img/robot.png" alt="Robot image" class="portrait">
    </div>
    
    
    {{>footer}}