    {{>header}}
    
    <div class="main-content">
        <p>For questions please contact me:</p>
        <ul>
            <li>Name: {{name}}</li>
            <li>Phone number: {{phone}}</li>
            <li>Email: {{email}}</li>
        </ul>
    </div>

    {{>footer}}

